.header {
  display: flex;
  justify-content: center;
  padding: 82px 0;
  background-color: #0d0d0d;
  color: white;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-name {
  display: flex;
  font-size: 40px;
  font-weight: 700;
}
.logo-name p {
  color: #4ea8de;
}
.logo-name span {
  color: #5e60ce;
}
.task-controller {
  display: grid;
  gap: 12px;
  position: fixed;
  top: 30px;
  right: 30px;
}
.btn-controller {
  padding: 10px;
  color: white;
  background-color: #1e6f9f;
  border-radius: 50%;
  width: 70px;
  aspect-ratio: 1 / 1;
  border: 2px solid #0d0d0d;
}
.btn-controller:last-child {
  background-color: #5e60ce;
}
.creator-container {
  display: flex;
  transform: translateY(-50%);
}
.creator-input {
  padding: 16px;
  font-size: 16px;
  background-color: #262626;
  outline: none;
  color: #808080;
  border: none;
  border-radius: 8px;
  box-shadow: none;
}
.create-task-button {
  padding: 18px 16px;
  color: white;
  background-color: #1e6f9f;
  border: none;
  border-radius: 8px;
  margin-left: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.lists-container {
  width: 85%;
  display: grid;
  justify-items: center;
}
.tasks-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 700px;
  padding: 0;
  margin: 28px 0 0;
}
.list-title {
  width: 100%;
  background: none;
  font-size: 28px;
  font-weight: 700;
  color: #4ea8de;
  outline: none;
  border: none;
  box-shadow: none;
}
.task {
  background-color: #262626;
  color: white;
  padding: 13px;
  border-radius: 8px;
}
.dragging-task {
  position: fixed;
  z-index: 1000;
  width: 85%;
  max-width: 700px;
  background-color: #262626;
  color: white;
  padding: 13px;
  border-radius: 8px;
  opacity: 0.5;
  transform: translate(-50%, -50%);
}
@media (min-width: 900px) {
  .task-controller {
    display: flex;
  }
  .lists-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
  }
}
